.btn {
    border: none;
    border-radius: 1rem;
    background-color: $color-sixth;
    cursor: pointer;
    color: $color-second;
    font-size: 3.5rem;
    // height: 6.7rem;
    margin-left: 1rem;
    padding: 1rem;

    @media (max-width: 850px) {
        font-size: 2.5rem;
        padding: 1rem;
        // height: 5.6rem;
    }
}
